

<!--content-->

<div ng-controller="loginCtrl"  ng-class="container">
	<div  style="width: 80%; margin-left: auto">

    <form action="/" method="" id ="mylogin">
        <br>
        <div>
          <h1>e-mail</h1>
          <input type="text"  ng-model="username"> <br><br>
        </div>
        <div>
            <h1>password</h1>
            <input type="text"  ng-model="password"><br><br>
        </div>

          <button type = "button" ng-click="submit()">login</button>
    </form>
        

    
  </div>
</div>